body {
  background-color: #eeebdd;
}

hr {
  border-style: none;
  border-top-style: dotted;
  width: 10%;
  border-color: grey;
  border-width: 5px;
}

img {
  width: 250px;
  height: 200px;
}
h1{
  color: #4b778d;
  font-style: italic;
  font-family: sans-serif;
}
h2{
  color: #5aa897;
  font-style: italic;
  font-family: sans-serif;
}
h4{
  color: #4b778d;
  font-style: italic;
  font-family: sans-serif;
}
